<h2>Sabemos que </h2>

<% unless @assertions.nil?  %>
<table>
	<% @assertions.each do |a| 
	 l = (a.status == 0) ? 'Es falso que' : 'Es cierto que' 
	 v = (a.status == 1) ? 'Corregir, es falso' : 'Corregir, es cierto'	
	%>
	<tr>
		<td>
			
		<%= l %>
		<a href="/entities/<%= a.subject.id %>">
			<%= a.subject.text %> 
		</a>
		<%= a.text %> 
		
		<a href="/entities/<%= a.predicate.id %>">
			<%= a.predicate.text %>
		</a>
		</td>
		<td>
			
		<form action="/assertions/<%= a.id %>/toggle" method="post">
			<p>
				<input type="submit" value="<%= v %>">
			</p>
		</form>
	</td>
  <% end %>	
</ul>
<% end %>